<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.ibatis.learn.IncludeMapper1">

    <sql id="allFields" >
        id, name, age, birthday, province, city, area, address, ${fixedField}
    </sql>

  <select id="queryOne1" >
    select
        <include refid="org.apache.ibatis.learn.IncludeMapper2.allFields" />
    from ${tableName}

  </select>

</mapper>

